* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}

model {
  display: none;
}

.header {
  background-color: rgba(93, 81, 87, 0, 9);
  height: 60px;
  margin: 0 auto;
  max-width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 10px;
}

.header__icon {
  height: 40px;
  object-fit: contain;
  width: 40px;
}

.header__name {
  height: 40px;
  width: 80px;
}

.header__menu-mobile {
  background-color: transparent;
  border: none;
}

.header__menu-mobile .menu-icon {
  height: 30px;
  width: 30px;
}

.sidebar {
  background-color: rgb(19, 18, 18);
  color: #fff;
  display: none;
  height: 100vh;
  position: absolute;
  top: 0;
  transition:
    transform 618ms cubic-bezier(0.77, 0, 0.175, 1),
    opacity 618ms cubic-bezier(0.77, 0, 0.175, 1),
    visibility 618ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
}

.header__container.container__sidebar {
  border-bottom: solid 1px #fff;
}

.sidebar__header {
  height: 60px;
  width: 100%;
}

.sidebar__main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

.sidebar__main li {
  line-height: 25px;
  margin: 15px 0;
  text-align: center;
  width: 50%;
}

.sidebar__main li:hover {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
}

.pokemon__app-title.container {
  justify-content: center;
  padding-top: 40px;
}

.pokemon__shelf {
  display: grid !important;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 40px;
}

@media (min-width: 525px) {
  .pokemon__shelf {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 769px) {
  .pokemon__shelf {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pokemon__pagination.container {
  margin: var(--spacing_inset-lg) auto;
  justify-content: center;
}

.pokemon__button {
  background: #a29bfe;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  width: 150px;
}

.pokemon__button[show="false"] {
  display: none;
}

.pokemon__figure {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #ddd;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 24px;
}

.pokemon__figure:hover {
  border: 4px solid #a29bfe;
  transition: 0.3s all ease-in-out;
}

.steel {
  background-color: #f4f4f4;
}

.fire {
  background-color: #eb4d4b;
}

.grass {
  background-color: #6ab04c;
}

.electric {
  background-color: #f6e58d;
}

.water,
.ice {
  background-color: #7ed6df;
}

.ground {
  background-color: #8395a7;
}

.rock {
  background-color: #d5d5d4;
}

.fairy {
  background-color: #ff9ff3;
}

.poison {
  background-color: #6D214F;
  color: #fff;
}

.bug {
  background-color: #cc8e35;
}

.dragon {
  background-color: #97b3e6;
}

.psychic {
  background-color: #eaeda1;
}

.flying {
  background-color: #c7ecee;
  color: #000;
}

.fighting {
  background-color: #E6E0D4;
}

.normal {
  background-color: #ced6e0;
}

.pokemon__figure > img {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 80px;
  object-fit: contain;
  width: 100%;
}

@media (min-width: 769px) {
  .pokemon__figure > img {
    border-radius: 100px;
  }
}

.pokemon__caption {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

.modal__overlayer {
  align-items: center;
  background-color: #fff;
  display: none;
  height: 100%;
  justify-content: center;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__area {
  background-color: #fff;
  display: block;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: -710px;
  transition: 618ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: 2;
}

.modal__close {
  background-color: transparent;
  border: none;
  border-radius: var(--spacing_inset-sm);
  cursor: pointer;
  padding: var(--spacing_inset-nano);
  position: absolute;
  right: 20px;
  width: 35px;
  z-index: 1;
}

.modal__close img {
  height: 16px;
  padding: var(--spacing_inset-quack);
  width: 16px;
}

.modal__close:hover {
  background-color: #ecf0f1;
}

.bk {
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  height: 50%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.modal__img {
  bottom: -85px;
  position: absolute;
  width: 320px;
}